<h1>Pirates</h1>
  <h3><%= @pirate.name %></h3>
  <h4><%= @pirate.weight %></h4>
  <h4><%= @pirate.height %></h4>

<br/>

<h1>Ships</h1>
<% @ships.each do |ship| %>
    <p><%= ship.name %></p>
    <p><%= ship.type %></p>
    <p><%= ship.booty %></p>
<% end %>
